<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project3</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller1</display-name>
    <servlet-name>Controller1</servlet-name>
    <servlet-class>com.controller.Controller1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller1</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller2</display-name>
    <servlet-name>Controller2</servlet-name>
    <servlet-class>com.controller.Controller2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller2</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller3</display-name>
    <servlet-name>Controller3</servlet-name>
    <servlet-class>com.controller.Controller3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller3</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller2Helper</display-name>
    <servlet-name>Controller2Helper</servlet-name>
    <servlet-class>com.controller.Controller2Helper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller2Helper</servlet-name>
    <url-pattern>/forwarder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller4</display-name>
    <servlet-name>Controller4</servlet-name>
    <servlet-class>com.controller.Controller4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller4</servlet-name>
    <url-pattern>/fdproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller5</display-name>
    <servlet-name>Controller5</servlet-name>
    <servlet-class>com.controller.Controller5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller5</servlet-name>
    <url-pattern>/elproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller6</display-name>
    <servlet-name>Controller6</servlet-name>
    <servlet-class>com.controller.Controller6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller6</servlet-name>
    <url-pattern>/eduproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller7</display-name>
    <servlet-name>Controller7</servlet-name>
    <servlet-class>com.controller.Controller7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller7</servlet-name>
    <url-pattern>/medproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller8</display-name>
    <servlet-name>Controller8</servlet-name>
    <servlet-class>com.controller.Controller8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller8</servlet-name>
    <url-pattern>/totaledu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller9</display-name>
    <servlet-name>Controller9</servlet-name>
    <servlet-class>com.controller.Controller9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller9</servlet-name>
    <url-pattern>/totalfood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller10</display-name>
    <servlet-name>Controller10</servlet-name>
    <servlet-class>com.controller.Controller10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller10</servlet-name>
    <url-pattern>/totalelec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller11</display-name>
    <servlet-name>Controller11</servlet-name>
    <servlet-class>com.controller.Controller11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller11</servlet-name>
    <url-pattern>/totalmed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller12</display-name>
    <servlet-name>Controller12</servlet-name>
    <servlet-class>com.controller.Controller12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller12</servlet-name>
    <url-pattern>/useredit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller12Helper</display-name>
    <servlet-name>Controller12Helper</servlet-name>
    <servlet-class>com.controller.Controller12Helper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller12Helper</servlet-name>
    <url-pattern>/usereditviewer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller13</display-name>
    <servlet-name>Controller13</servlet-name>
    <servlet-class>com.controller.Controller13</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller13</servlet-name>
    <url-pattern>/userprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller14</display-name>
    <servlet-name>Controller14</servlet-name>
    <servlet-class>com.controller.Controller14</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller14</servlet-name>
    <url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller6Helper</display-name>
    <servlet-name>Controller6Helper</servlet-name>
    <servlet-class>com.controller.Controller6Helper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller6Helper</servlet-name>
    <url-pattern>/Controller6Helper</url-pattern>
  </servlet-mapping>
</web-app>