<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project2</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.info.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/code1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.info.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/code2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2Helper</display-name>
    <servlet-name>Servlet2Helper</servlet-name>
    <servlet-class>com.info.Servlet2Helper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2Helper</servlet-name>
    <url-pattern>/code2h</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet3</display-name>
    <servlet-name>Servlet3</servlet-name>
    <servlet-class>com.info.Servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet3</servlet-name>
    <url-pattern>/code3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet3Helper</display-name>
    <servlet-name>Servlet3Helper</servlet-name>
    <servlet-class>com.info.Servlet3Helper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet3Helper</servlet-name>
    <url-pattern>/code3h</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet4</display-name>
    <servlet-name>Servlet4</servlet-name>
    <servlet-class>com.info.Servlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet4</servlet-name>
    <url-pattern>/code4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet5</display-name>
    <servlet-name>Servlet5</servlet-name>
    <servlet-class>com.info.Servlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet5</servlet-name>
    <url-pattern>/code5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet5Helper</display-name>
    <servlet-name>Servlet5Helper</servlet-name>
    <servlet-class>com.info.Servlet5Helper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet5Helper</servlet-name>
    <url-pattern>/code5h</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet6</display-name>
    <servlet-name>Servlet6</servlet-name>
    <servlet-class>com.info.Servlet6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet6</servlet-name>
    <url-pattern>/code6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet7</display-name>
    <servlet-name>Servlet7</servlet-name>
    <servlet-class>com.info.Servlet7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet7</servlet-name>
    <url-pattern>/code7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet7Helper</display-name>
    <servlet-name>Servlet7Helper</servlet-name>
    <servlet-class>com.info.Servlet7Helper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet7Helper</servlet-name>
    <url-pattern>/code7h</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet8</display-name>
    <servlet-name>Servlet8</servlet-name>
    <servlet-class>com.info.Servlet8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet8</servlet-name>
    <url-pattern>/code8</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet9</display-name>
    <servlet-name>Servlet9</servlet-name>
    <servlet-class>com.info.Servlet9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet9</servlet-name>
    <url-pattern>/code9</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet9Helper</display-name>
    <servlet-name>Servlet9Helper</servlet-name>
    <servlet-class>com.info.Servlet9Helper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet9Helper</servlet-name>
    <url-pattern>/code9h</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet10</display-name>
    <servlet-name>Servlet10</servlet-name>
    <servlet-class>com.info.Servlet10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet10</servlet-name>
    <url-pattern>/code10</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet11</display-name>
    <servlet-name>Servlet11</servlet-name>
    <servlet-class>com.info.Servlet11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet11</servlet-name>
    <url-pattern>/code11</url-pattern>
  </servlet-mapping>
</web-app>